node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.idea
.vercel
.output
.vinxi
.eslintcache

/build/
/api/
/server/build
/public/build
.vinxi

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
